name: Génrérer JAR et déployer en prod

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build de l'application
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@main
    - name: Set up JDK 8
      uses: actions/setup-java@v4.5.0

    
