name: Génrérer JAR et déployer en prod

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build de l'application
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@main
    - name: Set up JDK 17
      uses: actions/setup-java@v4.5.0
      with:
        java-version: '17'
        distribution: zulu

    - name: Package le projet
      run: mvn clean package -DskipTests
